<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>


    <add key="pathniadplm" value="\\niad01\CommonShare\Project Files\PLManager\PLM5.2" />
    <add key="pathniadam" value="\\niad01\CommonShare\Project Files\Automatch\AutomatchFramework4.6" />
    

    <add key="pathplmrelease" value="C:\Users\Michael Harvey\Git\Core\PLManager\bin\Release" />
    
    
    <add key="pathamprocessshare" value="\\10.21.1.45\ProcessShare\Automatch\" />
    <add key="pathamprocesssharecopy" value="\\10.21.1.45\ProcessShare\Automatch - Copy\" />



    <add key="pathamrelease" value="C:\Users\Michael Harvey\Git\Core\_src\AutoMatchTestHarness\bin\Release\" />
    
    <add key="pathlocalstorerelease" value="C:\Users\Michael Harvey\Git\Core\_src\LocalStoreImport\bin\Release" />
    <add key="pathlocalstoredebug" value="C:\Users\Michael Harvey\Git\Core\_src\LocalStoreImport\bin\Debug" />

    
    
    <add key="pathlocalstoreprod" value="\\10.21.1.45\ProcessShare\LocalStoreCrawler" />
    <add key="pathlocalstorecopy" value="\\10.21.1.45\ProcessShare\LocalStoreCrawler\Backup" />

    <add key="pathlocalstoreniad" value="\\niad01\CommonShare\Project Files\LocalStoreImport" />

    <add key="pathcrawlerprod" value="\\10.21.1.45\ProcessShare\Crawler" />
    <add key="pathcrawlercopy" value="\\10.21.1.45\ProcessShare\Crawler - Copy" />
    <add key="pathcrawlerrelease" value="C:\Users\Michael Harvey\Git\Core\Crawler\bin\Release" />
    <add key="pathcrawleramazon" value="\\10.21.1.45\ProcessShare\CrawlerAmazon" />


    <add key="test1" value="C:\Users\Michael Harvey\Desktop\testfolder1\" />
    <add key="test2" value="C:\Users\Michael Harvey\Desktop\testfolder2\" />


  </appSettings>
</configuration>